[submodule "hbhunger"]
	path = hbhunger
	url = https://repo.or.cz/minetest_hbhunger.git
[submodule "hudbars"]
	path = hudbars
	url = https://repo.or.cz/minetest_hudbars.git
[submodule "toolranks"]
	path = toolranks
	url = https://github.com/lisacvuk/minetest-toolranks.git
[submodule "unified_inventory"]
	path = unified_inventory
	url = https://github.com/minetest-mods/unified_inventory.git
[submodule "illumination"]
	path = illumination
	url = https://notabug.org/Piezo_/minetest-illumination.git
